/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* clearfix */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

#navBar {
	float: left;
	list-style-type: none;
	margin-top: 17%;
	margin-left: 100px;
	position: relative;
	text-align: left;
	width: 15%;
}

#navBar p {
	margin-top:10px;
	font-size:8pt;
}

button {
	background: #0198E1;
	border-style: none;
	display: block;
	font-size: 10pt;
	padding: 5px;
	margin-top: 10px;
	width: 150px;
}

button:hover, button:active, button:focus{
	background-color: #3366cc;
	color:white;
}

#inTweet {
	border-style: solid;
	border-color: #D3D3D3;
	border-radius: 3px;
	border-width: 1px;
	margin-bottom: 2px;
	margin-top: 2px;
	padding:5px;	
}

#inTweet:hover {
	border-color:black;
}

#outTweet {
	height: 30px;
	float: right;
	margin-top:5px;
	margin-bottom: 7px;
	padding: 10px;	
	position: relative;
	width: 75%;
}

.tweets {
	margin-left: 20px;
	margin-top: 5px;
	padding-bottom: 2px;
	padding-top: 5px;
}

.name {
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	font-size: 11pt;
	font-style: underline;
}

.name .time {
    color: #808080;
	font-size: 10pt;
	font-style: italic;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    margin-left: 15px;
}

#tableHolder {
	background-color: white;
	float: right;
	height: 500px;
	margin-top:75px;
	margin-right:150px;
	overflow-y: scroll;
	position: relative;
	padding: 10px;
	width: 60%;
}

#banner {
	color: white;
	background-color: #589ad5;
	background-size:100%;
	border-style: ridge;
    border-width: 1px;
    border-color: black;
    display: block;
    font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
    font-size: 28pt;
    padding: 15px;
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    text-align: left;
}

#banner:hover {
    color: #3c3636;
}

footer {
	background:#999;
   	bottom:0px;
   	height:20px;
   	left:0px;
   	padding-top:2px;
   	padding-right: 50px;
   	position:fixed;
   	width:100%;
}

footer span {
	color:black;
	margin: 0 15%;
}

footer #hack {
	color: white;
}
